:root {
	--blue-color: rgb(81, 81, 220);
	--white-color: #ffffff;
	--body-color: #ebe3e3;
	--grey-color: grey;

	--hover-blue-color: rgb(49, 49, 187);
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: var(--body-color);
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.page {
}

.page-home {
}

.page-home-cards {
}

.cards-home {
	margin-top: 100px;
}

.cards-home-container {
}

.cards-home-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.cards-home-item {
	flex: 0 1 calc((100% - 30px * 2) / 3);
	border-radius: 30px;
	overflow: hidden;
	box-shadow: 2px 2px 0 5px rgba(0, 0, 0, 0.75);
}

.cards-home-head {
}

/*! Card head */

.card-head {
	background-color: var(--blue-color);
	color: var(--white-color);
	font-weight: 500;
	padding: 30px;

	display: flex;
	gap: 20px;
	justify-content: center;
	align-items: center;
}

.card-head-currency {
	font-size: 20px;
}

.card-head-value {
	display: flex;
	align-items: flex-end;
}

.card-head-number {
	font-size: 48px;
}

.card-head-period {
	text-transform: uppercase;
}

/*! Card body */
.cards-home-body {
}

.card-body {
	background-color: var(--white-color);
	padding: 30px;
	display: flex;
	flex-direction: column;
	gap: 50px;
	align-items: center;
}

.card-body-dates {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.card-body-date {
	text-transform: uppercase;
	color: var(--grey-color);

	display: flex;
	flex-direction: column;
	align-items: center;
}

.card-body-text {
}

.card-body-text:not(:last-child) {
	margin-bottom: 20px;
}

.card-body-line {
	height: 1px;
	width: 50%;
	background-color: var(--grey-color);
}

/*! Card button */
.cards-home-button {
	background-color: var(--blue-color);
	color: var(--white-color);
	padding: 20px 30px;
	border-radius: 20px;
	transition: background-color 0.3s ease 0s;
}

.cards-home-button:hover {
	background-color: var(--hover-blue-color);
}
